
/* 
            ***COLOR PALETTE***
*/

// Base colors 
$color-black: #000;
$color-custom-blue: #84f2fe;
$color-custom-blue-light: #adf5fd;
$color-custom-violet: #bfe4ff;
$color-custom-violet-light: #c5cffc;
$color-custom-violet-dark: #c5bafb;
$color-white: #fff;

// Functional colors 
$color-header: $color-custom-blue-light;
$color-deco: $color-white;
$color-jumbotron: $color-custom-blue-light;
$color-text: $color-black;
$color-text-invert: $color-white;
$color-section: $color-custom-violet-light;
$color-border: $color-custom-violet-light;
$color-not-found--heading-bg: $color-custom-violet;
$color-not-found--link: $color-black;

// Gradents 
$gradient-main: linear-gradient(30deg, $color-white 8%, $color-custom-violet 18%, $color-custom-blue 20%, $color-custom-blue-light 25%);
$gradient-main-revert: linear-gradient(210deg, $color-white 8%, $color-custom-violet 18%, $color-custom-blue 20%, $color-custom-blue-light 25%);

// ***FONTS***
@import url('https://fonts.googleapis.com/css?family=Bevan&display=swap');
$font-primary: 'Bevan', cursive;

// ***MEDIA QUERIES***
$mobile-large: 576px;
$tablet: 768px;
$tablet-large: 992px;
$desktop: 1200px;
$desktop-large: 2560px;

// ***OTHER***
$border-card: 7px solid $color-border;
$border-link: 3px solid $color-border;
