// ***HEADER***
header {
  background-color: $color-header;
}

.navbar {
  background: $gradient-main;
}

.presentation {
  height: 75vh;
  padding: 0;
  position: relative;
}

.carousel {
  height: 35vh;
  opacity: .7;
  overflow: hidden;
  
  @media screen and (min-width: $tablet) {
    height: 40vh;
  }

  @media screen and (min-width: $tablet-large){
    @include make-overlay(absolute, 100%, 100%, 0, 0)
  }
}

.jumbotron {
  align-items: center;
  background-color: darken($color-jumbotron, 60%);
  color: $color-text-invert;
  display: flex;
  height: 40vh;
  justify-content: center;

  @media screen and (min-width: $tablet-large){
    @include make-overlay(absolute, 80%, 40%, 70%, 20%)
  }
}

.intro {
  text-align: center;

  h1 {
    font-family: $font-primary;
    font-size: 2rem;

    @media screen and (min-width: $tablet) {
      font-size: 4rem;
    }
  }

  p {
    @media screen and (min-width: $tablet) {
      font-size: 2rem;
    }
  }
}
