//            ***LINKS***

// general
a { 
  text-decoration: none;
  color: $color-text;
}

.navbar a {
  cursor: pointer;

  @media screen and (max-width: $tablet-large){
   border-bottom: 1px solid currentColor;
   margin-bottom: .3125rem;
   padding-bottom: 0;
  }

  &:focus,
  &:hover {
    &::after {
      content: '↦';
      padding-left: 5px;
    }
  }

  &:active {
    font-size: larger;
  }
}

.card a {
  &:focus,
  &:hover {
    background-color: $color-border;
    color: $color-text-invert;
    padding-left: 20px;
    padding-right: 10px;

    &::after {
      content: '⤤';
      padding: 5px;
    }
  }

  &:active {
    color: inherit;
  }
}

.author {
  text-decoration: underline;

  &:active {
    opacity: .7;
  }
}

//404.html
.not-found--link { 
  color: $color-not-found--link;
  
  &:hover,
  &:focus { color: $color-text; } 
}