//            ***LINKS***

// general
a { 
  text-decoration: none;
  color: $color-text;
}

.navbar-brand {
  cursor: pointer;

  @media screen and (max-width: $breakpoint-lg){
   border-bottom: 1px solid currentColor;
   margin-bottom: .3125rem;
   padding-bottom: 0;
  }

  &:focus,
  &:hover {
    &::after {
      content: '↦';
      padding-left: 5px;
    }
  }

  &:active {
    font-size: larger;
  }
}

//404.html
.not-found--link { 
  color: $color-not-found--link;
  
  &:hover,
  &:focus { color: $color-text; } 
}