// ***PRINT STYLES***

@media print {

  //hide unnecessary elements
  nav,
  .carousel,
  img,
  footer.row,
  .content-wrapper section:first-child .card::before,
  .content-wrapper section:first-child .card::after { display: none; }

  //linerize the layout
  header,
  section,
  .presentation,
  .jumbotron,
  .container,
  .card,
  .content-wrapper section:nth-child(2),
  .row { 
    display: block; 
    width: auto;
    height: auto;
    margin: auto;
    padding: 10px;
    position: static;
    min-width: 0!important;
  }

  .content-wrapper {
    margin-top: 15px;
  }

  .card {
    width: 75ch;
  }

  .tips {
  align-items: center;
  }

  // adjust the typography
  header,
  .intro,
  .jumbotron,
  .content-wrapper section:last-child,
  .content-wrapper section,
  .content-wrapper section:nth-child(2).card li a{
    background-color: initial;
    border-bottom: 0;
    color: initial;
    font-family: serif;
    font-size: 12pt;
  }

  .content-wrapper .card,
  .content-wrapper section:first-child .card {
    border-color: initial;
  }

  h1 { text-align: center; }

  // add suplementary content  
  a[href*="http"]::after { content: " (" attr(href) ")"; }

}
