
/*
            ***TYPOGRAPHY***
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');

body { 
  font-family: $font-primary; 
  font-size: 100%;

  @media screen and (max-width: $tablet) { font-size: 80%; }
  @media screen and (min-width: $very-large-screen) { font-size: 200%; }
}

h1 {
  font-size: 4em;
  text-align: right;
}

#mainNav {
  font-size: 1.2em;
  font-weight: 300;
  
  nav { text-align: center; }
}

main {
  p { 
    font-size: 1.3em; 

    @media screen and (min-width: $very-large-screen) { font-size: 1em; }
  }

  h2 { 
    font-size: 2em;
    font-weight: 200; 
  }

  .card h2 { font-size: 1.7em; }

  .tags { font-size: 0.75em; }
}

.low-voice {
  font-style: normal;
  text-decoration: line-through $color-line-through double;
}

strong { font-weight: normal; }

ul { list-style-type: none; }

footer { font-style: italic; }
